In [31]:
import pandas as pd
from meteostat import *
from datetime import datetime, timedelta

Stations retrieve

In [32]:
stations = Stations().fetch()

stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
id,,,,,,,,,,,,,,,
00FAY,Holden Agdm,CA,AB,71227,<NA>,53.1900,-112.2500,688.0,America/Edmonton,2020-01-01,2022-12-14,2002-11-01,2022-12-10,2003-01-01,2022-01-01
00TG6,Athabasca 1,CA,AB,<NA>,<NA>,54.7200,-113.2900,515.0,America/Edmonton,NaT,NaT,2000-01-01,2022-07-12,2000-01-01,2010-01-01
01001,Jan Mayen,NO,<NA>,01001,ENJA,70.9333,-8.6667,10.0,Europe/Oslo,1931-01-01,2023-01-30,1921-12-31,2023-02-09,1922-01-01,2022-01-01
01002,Grahuken,NO,SJ,01002,<NA>,79.7833,14.4667,0.0,Europe/Oslo,1986-11-09,2023-01-28,2010-10-07,2020-08-17,NaT,NaT
01003,Hornsund,NO,<NA>,01003,<NA>,77.0000,15.5000,10.0,Europe/Oslo,1985-06-01,2023-01-30,2009-11-26,2020-08-31,2016-01-01,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZX07Q,Okotoks,CA,AB,<NA>,<NA>,50.7300,-113.9600,1081.0,America/Edmonton,NaT,NaT,2000-01-01,2022-12-02,2000-01-01,2021-01-01
ZXYDC,Bonavista,CA,NL,71178,<NA>,48.6700,-53.1100,26.0,America/St_Johns,2020-01-01,2022-12-14,2006-07-09,2022-12-11,2006-01-01,2022-01-01
ZYC17,Kingston Airport,CA,ON,<NA>,<NA>,44.2300,-76.6000,92.0,America/Toronto,2020-01-01,2022-12-15,2018-10-29,2022-12-12,2019-01-01,2022-01-01
ZYITU,Selfridge Air National Guard Base,US,MI,<NA>,KMTC,42.6046,-82.8353,177.0,America/Detroit,2022-04-23,2023-02-12,2022-04-24,2022-04-25,NaT,NaT
ZYTX0,Shenyang / Fengt'ien / Mukden,CN,LN,<NA>,ZYTX,41.8000,123.4000,35.0,Asia/Shanghai,1992-07-01,2023-02-12,1994-03-07,2022-04-25,2006-01-01,2022-01-01

Cleanup

In [33]:
last_month = datetime.now() - timedelta(30)
stations = stations.drop(stations[stations.daily_end<=last_month].index)

In [34]:
stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
id,,,,,,,,,,,,,,,
01001,Jan Mayen,NO,<NA>,01001,ENJA,70.9333,-8.6667,10.0,Europe/Oslo,1931-01-01,2023-01-30,1921-12-31,2023-02-09,1922-01-01,2022-01-01
01005,Barentsburg,NO,SJ,01005,<NA>,78.0667,13.6333,9.0,Arctic/Longyearbyen,NaT,NaT,NaT,NaT,1951-01-01,1980-01-01
01007,New Alesund,NO,SJ,01007,<NA>,78.9167,11.9333,0.0,Europe/Oslo,NaT,NaT,1973-03-28,2023-02-08,1974-01-01,2022-01-01
01008,Svalbard Lufthavn,NO,<NA>,01008,ENSB,78.2500,15.4667,2.0,Europe/Oslo,1975-09-29,2023-02-12,1975-08-01,2023-02-08,1975-01-01,2022-01-01
01026,Tromso,NO,TR,01026,<NA>,69.6500,18.9333,103.0,Europe/Oslo,1997-02-01,2023-01-30,1920-07-01,2023-02-09,1920-01-01,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZSYT0,Yantai / Laishanzhen,CN,SD,<NA>,ZSYT,37.4017,121.3720,18.0,Asia/Shanghai,2020-09-14,2022-09-17,NaT,NaT,NaT,NaT
ZSZS0,Shuguang Nongchang / Zhoushan / Banyueâ€™an,CN,ZJ,<NA>,ZSZS,29.9342,122.3620,3.0,Asia/Shanghai,2011-01-16,2014-08-26,NaT,NaT,NaT,NaT
ZTS3Z,Sanikiluaq Airport,CA,NU,<NA>,<NA>,56.5400,-79.2500,34.0,America/Iqaluit,2020-01-01,2022-12-14,NaT,NaT,NaT,NaT
ZUQJS,Ephraim-Gibraltar Airport,US,WI,<NA>,K3D2,45.1357,-87.1881,234.0,America/Menominee,2022-05-06,2023-02-11,NaT,NaT,NaT,NaT
ZWTC0,Qaxa / Tacheng,CN,XJ,<NA>,ZWTC,46.6725,83.3408,597.0,Asia/Urumqi,2020-04-09,2020-04-09,NaT,NaT,NaT,NaT

In [35]:
stations.columns

Index(['name', 'country', 'region', 'wmo', 'icao', 'latitude', 'longitude',
       'elevation', 'timezone', 'hourly_start', 'hourly_end', 'daily_start',
       'daily_end', 'monthly_start', 'monthly_end'],
      dtype='object')

In [36]:
stations.drop(['timezone', 'hourly_start', 'hourly_end', 'daily_start',
       'daily_end', 'monthly_start', 'monthly_end'], axis = 1, inplace=True)

In [37]:
stations

,name,country,region,wmo,icao,latitude,longitude,elevation
id,,,,,,,,
01001,Jan Mayen,NO,<NA>,01001,ENJA,70.9333,-8.6667,10.0
01005,Barentsburg,NO,SJ,01005,<NA>,78.0667,13.6333,9.0
01007,New Alesund,NO,SJ,01007,<NA>,78.9167,11.9333,0.0
01008,Svalbard Lufthavn,NO,<NA>,01008,ENSB,78.2500,15.4667,2.0
01026,Tromso,NO,TR,01026,<NA>,69.6500,18.9333,103.0
...,...,...,...,...,...,...,...,...
ZSYT0,Yantai / Laishanzhen,CN,SD,<NA>,ZSYT,37.4017,121.3720,18.0
ZSZS0,Shuguang Nongchang / Zhoushan / Banyueâ€™an,CN,ZJ,<NA>,ZSZS,29.9342,122.3620,3.0
ZTS3Z,Sanikiluaq Airport,CA,NU,<NA>,<NA>,56.5400,-79.2500,34.0
ZUQJS,Ephraim-Gibraltar Airport,US,WI,<NA>,K3D2,45.1357,-87.1881,234.0
ZWTC0,Qaxa / Tacheng,CN,XJ,<NA>,ZWTC,46.6725,83.3408,597.0