In [11]:
import pandas as pd
from meteostat import *
from datetime import datetime, timedelta

Stations retrieve

In [9]:
stations = Stations().fetch()

stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
id,,,,,,,,,,,,,,,
00FAY,Holden Agdm,CA,AB,71227,<NA>,53.1900,-112.2500,688.0,America/Edmonton,2020-01-01,2022-12-14,2002-11-01,2022-12-10,2003-01-01,2022-01-01
00TG6,Athabasca 1,CA,AB,<NA>,<NA>,54.7200,-113.2900,515.0,America/Edmonton,NaT,NaT,2000-01-01,2022-07-12,2000-01-01,2010-01-01
01001,Jan Mayen,NO,<NA>,01001,ENJA,70.9333,-8.6667,10.0,Europe/Oslo,1931-01-01,2023-01-30,1921-12-31,2023-02-09,1922-01-01,2022-01-01
01002,Grahuken,NO,SJ,01002,<NA>,79.7833,14.4667,0.0,Europe/Oslo,1986-11-09,2023-01-28,2010-10-07,2020-08-17,NaT,NaT
01003,Hornsund,NO,<NA>,01003,<NA>,77.0000,15.5000,10.0,Europe/Oslo,1985-06-01,2023-01-30,2009-11-26,2020-08-31,2016-01-01,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZX07Q,Okotoks,CA,AB,<NA>,<NA>,50.7300,-113.9600,1081.0,America/Edmonton,NaT,NaT,2000-01-01,2022-12-02,2000-01-01,2021-01-01
ZXYDC,Bonavista,CA,NL,71178,<NA>,48.6700,-53.1100,26.0,America/St_Johns,2020-01-01,2022-12-14,2006-07-09,2022-12-11,2006-01-01,2022-01-01
ZYC17,Kingston Airport,CA,ON,<NA>,<NA>,44.2300,-76.6000,92.0,America/Toronto,2020-01-01,2022-12-15,2018-10-29,2022-12-12,2019-01-01,2022-01-01
ZYITU,Selfridge Air National Guard Base,US,MI,<NA>,KMTC,42.6046,-82.8353,177.0,America/Detroit,2022-04-23,2023-02-12,2022-04-24,2022-04-25,NaT,NaT
ZYTX0,Shenyang / Fengt'ien / Mukden,CN,LN,<NA>,ZYTX,41.8000,123.4000,35.0,Asia/Shanghai,1992-07-01,2023-02-12,1994-03-07,2022-04-25,2006-01-01,2022-01-01

Cleanup

In [ ]:
stations.dropna

In [18]:
last_week = datetime.now() - timedelta(7)
stations = stations.drop(stations[stations.daily_end<=last_week].index)
stations.isnull().sum()

name                0
country             9
region            175
wmo              1044
icao             1524
latitude            0
longitude           0
elevation           0
timezone            6
hourly_start      678
hourly_end        677
daily_start      2080
daily_end        2080
monthly_start    1802
monthly_end      1802
dtype: int64